a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

.container {
    margin-right: 10%;
    margin-left: 10%;
}

.user-options {
    margin-top: 10px;
    text-align: right;
}

.icon {
    width: 1em;
    height: 1em;
    margin-bottom: 5px;
    color: inherit;
}

.blue {
    color: blue;
}

@media screen and (max-width: 553px) {
    .container {
        margin-left: 3%;
        margin-right: 3%;
    }
    h1 {
        font-size: 1.9em;
        margin-top: 10px;
    }
    h3 {
        font-size: 1.3em;
    }
    .btn {
        padding: 3px, 7px;
        font-size: 0.75em;
    }
}

@media screen and (min-width: 930px) {
    .container {
        max-width: 677px;
        margin-right: auto;
        margin-left: auto;
    }
}
